/*//////////////////////////////
///FONT CSS
///////////////////*/

@font-face {
    font-family: 'saman';
    src: url('../font/saman/SAMARN__.TTF') format('truetype'),
}

@font-face {
    font-family: 'comfortaa';
    src: url('../font/comfortaa/Comfortaa_Regular.ttf') format('truetype'),;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'levenim';
    src: url('../font/levenim2/ufonts.com_levenim-mt.woff') format('truetype'),;
}

@font-face {
    font-family: 'pirulen';
    src: url('../font/pirulen/pirulen rg.ttf') format('truetype'),;
}

@font-face {
    font-family: 'caviar';
    src: url('../font/caviar/CaviarDreams.ttf') format('truetype'),;
}


body {
  /*background:linear-gradient(to bottom, rgb(12,12,14), white);*/
  background: #fff;
  /*background: rgb(7,7,7);*/*/
  /*color: #8b8d87;*/
  color: #404040;
  color: rgb(80,92,105);
  /*color: rgb(245,245,245);;*/
  /*font-family: helvetica,arial,times;*/
  font-family: 'Questrial', sans-serif;
  /*font-family: 'caviar', arial;*/
  font-size: 100%;
  line-height: 1.5em;
  /*width: 100vw;*/
  background-color: rgba(0,0,0);
  position: relative;
}

section {
  margin-bottom: 150px;
}

.clear{
  clear: both;
}

.hide{
  opacity: 0;
}

/*/////////////////////////////
GENERAL
////////////////////////////////*/

h1 {
  font-size: 1.3em;
  padding: 0px 0px 20px 53px;
  line-height: 1.1;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 0.3em;
}

h3 {
  margin-top: 50px;
  font-size: 2.3em;
  margin-bottom: 1.3em;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}


p {
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.2em;
  letter-spacing: .03em;
}

p.title1{
  margin-bottom: 0.5em;
  font-size: 1.4em;
}

#sectionAbout p.title1{
  margin-top: 65px;
}

p.title2{
  margin-bottom: 0.5em;
  font-size: 1.4em;
  font-weight: bold;
}

section article ul{
  margin-bottom: 50px;
  font-size: 18px;
}


/*///////////////////////////
WELCOME PAGE
/////////////////////////////////*/


.welcomeLeft{
  position: fixed;
  font-size: 20px;
  transition : 1500ms;
  color: #fff;
  text-align: right;
  z-index: 1;
  background-color: rgb(244, 120, 38);
  height: 100vh;
  width: 50%;
  top: 0px;
}

.welcomeRight{
  position: relative;
  height: 100vh;
  margin-left: 50%;
  width: 50%;
  transition : 1500ms;
  color: #fff;
  z-index: 1;
  background: url(../img/routard.JPG) center center;
  top:0px;
}

.headerItem li{
  background-color: rgb(244, 120, 38);
  border: solid 2px #fff;
  width: 150px;
  margin-top: 30px;
  text-align: center;
  position: relative;
  right: 0px;
}

nav ul{
  margin-top: 50vh;
}

nav ul li a {
    display: block;
}

nav li{
  max-width: 542px;
  position: relative;
  margin: 0 2vw;
  margin-left: 65%;
  transition : 700ms;
}

nav li a{
  transition : 700ms;
  position: relative;
  padding: 12px 0px;*/
  margin: 0 2vw;
  text-decoration: none;
  color: #fff;
}

#contact{
  padding: 12px 0px;
  cursor: pointer;
}

.logoRight{
  position: absolute;
  margin-left: 50%;
  top: 0;
  z-index: 2;
}

.logoLeft{
  position: absolute;
  top: 0;
  margin-left: -100%;
  z-index: 2;
}

.welcomeImg {
  padding-top: 90px;
  width: 300px;
  z-index: 2;
  padding-left: 1px;
  padding-right: 1px;
}

#arrowUp{
  height: 30px;
  width: 30px;
  position: absolute;
  right: 52%;
  bottom: 59px;
  cursor: pointer;
  transition: 500ms;
}



.arrowDown{
  margin-top: 60vh;
  position: relative;
  right: 28px;
  cursor: pointer;
  transition: 500ms;
}

.arrowDown img{
  transition: 500ms;
}

li:hover a {
    color: inherit;
}

nav ul li:hover,  nav ul li:hover a, .selected, #contact.selected{
  color : rgb(244, 120, 38);
  background: #fff;
  cursor: pointer;
  transition: 1000ms;
}

.webDesigner{
  letter-spacing: 8px;
  position: absolute;
  right: 0px;
  top:50px;
  color: #fff;
  font-size: 30px;
}

/*///////////////////////////////////////////////////
/////Added-removed after click
///////////////////////////////////////////////*/

.small{
  width: 22%;
}

.big{
  margin-left: 22%;
  width: 78%;
}

.center{
  margin-left: 20%;
}

.overFlowHidden{
  overflow: hidden;
}

.menuUp{
  margin-top: 32vh;
  transition: 1000ms;
}

/*/////////////////////////////////////
//////////FIRST SECTION
///////////////////////////////////*/

#about{
  overflow: hidden;
      width: 100%;
}

#sectionAbout{
  margin-top: 10vh;
  transition : 2000ms;
  margin-left: 25%;
}

.competance{
  line-height: 1.2em;
  margin-bottom: 1.5em;
  font-size: 1.8em;
}

.rightAbout{
  position: relative;
  width: 55%;
  float: right;
  padding-right: 4%;
}

.leftAbout{
  position: relative;
  width: 40%;
  float: left;
}

.rightAbout img{
  position: relative;
  height: 100%;
  border-radius: 0px;
}

/*/////////////////////////////////////
//////////SECOND SECTION
///////////////////////////////////*/

#sectionPortfolio{
  margin-top: 10vh;
  transition : 2000ms;
  margin-left: 25%;
  position: relative;
}

.paragraphe{
  width: 25%;
}

.left{
  float: left;
}

.image{
  position: relative;
  width: 70%;

}

.right{
    float: right;
}

.right.image img{
  width: 600px;
  border-radius: 0px;
}

article div img{
  width: 500px;
}

.link a{
  text-decoration: none;
  color: #8b8d87;
}

#portWebApp{
  width: 68%;
  margin-left: 80px;
  max-width: 600px;
}

.renaud{
  width: 22%;
}

.renaud img{
  width: 250px;
  border-radius: 0px;
}

article {
  margin-bottom: 50px;
}

/*/////////////////////////////////////
///////////CONTACT FORM
///////////////////////////////////*/

#contactForm{
    height: 100vh;
    width: 78%;
    background-color: rgba(3, 13, 23,0.9);
    color: #fff;
    border: solid black;
    margin: 0 auto;
    position: fixed;
    margin-left: 100%;
    z-index: 2;
    transition : 500ms;
    top: 0;
}

#contactForm input{
  font-size: 1.5em;
  margin: 4% 10%;
  width: 80%;
  height: 5vh;
  border:none;
  border-bottom: solid white 1px;
  color: #fff;
  background-color: rgba(0,0,0,0);
  text-align: center;
}

#contactForm input.inputText{
  font-size: 20px;
  margin: 4% 10%;
  width: 80%;
  height: 15vh;
  border:solid white 1px;
  color: #fff;
  background-color: rgba(0,0,0,0);
  text-align: center;
}

#contactForm input:last-child{
  border: solid white 1px;
  cursor: pointer;
  background-color: rgba(244, 120, 38,0.6);
}

#contactForm input:last-child:hover{
  background-color: rgba(244, 120, 38,1);
  transition: 1000ms;
}

#contactForm.show{
  margin-left: 22%;
  z-index: 6;
}

#cross{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 12px;
  left: 12px;
  cursor: pointer;
}

#cross:hover{
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  transition : 1000ms;
}

#cross img{
  height: 50px;
}

/*

a {
  color: inherit;
  text-decoration: none;
}



.citation{
  text-align: center;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 1em;
}

.author{
  text-align: right;
  font-size: 18px;
  margin-bottom: 9em;
}

.hide{
  display: none;
}
*/

/*
#welcomeSection{
  width: 100vw;
  overflow: hidden;
  background-image: url(../img/noise-pattern.PNG) repeat cover;
}

#welcomePage{
    background-image: url(../img/routard.JPG);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    top: 0;
    transition : 2000ms;
    z-index: 5;
}

#start{
  width: 100%;
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
  min-height: 60px;
  height: auto;
  background-color: rgba(255,255,255,0.2);
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 4px;
  position: relative;
  z-index: 6;
  cursor: pointer;
}*/


/*div:not(.float) {
    clear: both;
}*/



/*.cover {
  background: url(../img/routard.JPG);
  background-attachment : fixed;
  background-size : cover;
  height: 500px;
}

#sectionPortfolio .cover{
  background-image: url("../img/stones.jpg");
}

#sectionServices .cover{
  background-image: url("../img/mountain.jpg");
}


#wrapper{
  width: 100vw;
  overflow: hidden;
  background-color: rgb(244, 120, 38);
  margin: 0 auto;
}

.mainPage{
  width: 1024px;
  margin: 0 auto;

}
*/




/*
#welcomeSection img{
  width: 200px;
}


header{
  position: relative;
  top: 35vh;
  transition: 500ms;
  z-index: 6;
  right: -50%;
}





.topZero{
  top: 0;
}

#welcomeRight.farRight{
  left: 125%;
}

#welcomePage.relative{
 position: relative;
    top: 70px;
    height: 40vh;
}



.home{
  position: relative;
  background: #fff;
  width: 80%;
  max-width: 1024px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;

}

.fullWidth{
  width: auto;
  position: relative;
  top: -500px;
  background: #fff;
}

.fixed{
  position: fixed;
  width: 100vw;
}

section article.article{
  position: relative;
  background: #fff;
  width: 80%;
  max-width: 1024px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;

}





#contact{
  cursor: pointer;
}

#contact:hover{
  color: rgba(225,0,000,0.8);
}



#logo {
  height: 39px;
  position: relative;
  left: 16px;
  top: 17px;
  z-index: 4;
  height: 60px;
  width: 60px;
}


#logo img{
  height: 39px;
  position: relative;
  z-index: 4;
}
*/



/*
header div{
   display: inline-block;
   width: 50%;
}



h1.paragraphNameLeft{
  font-size: 2em;
  background: #223B5F;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
  font-weight: lighter;
  font-style: italic;
  line-height: 56px;
  position: absolute;
  left: -35px;
  width: 200px;
  text-align: center;
  transform: rotate(-90deg);
}

h1.paragraphNameRight{
  background: #223B5F;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
  font-size: 2em;
  font-weight: lighter;
  font-style: italic;
  line-height: 56px;
  position: absolute;
  right: -50px;
  top: 10px;
  width: 200px;
  text-align: center;
  transform: rotate(90deg);
}

.left{
  width: 90%;
  min-height: 200px;
  height: auto;
  position: relative;
  padding: 5px;
  left: 72vw;
  transition : 1000ms;
}

.left:hover{
  left: 0%;
}

.right{
  width: 93%;
  min-height: 200px;
  height: auto;
  position: relative;
  padding: 5px;
  text-align: right;
  right: 66vw;
  transition : 1000ms;

}

.right:hover{
  right: 0%;
}

h1 img{
  width: 98%;
}

h1 .paragraphName.image{
  margin-bottom: 50px;
  font-size: 3em;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: -5px;
  line-height: 56px;
  position: absolute;
  top: 30px;
  left: 0px;
  text-align: center;
}

.left p{
  padding-left: 180px;
}

.right p{
  padding-right: 180px;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 450px){

/*#welcomePage{
    background-image: url(../img/routard3.JPG);
    background-color: black;
    /*background-size: 113%;*/
  /*}

#cross img{
  height: 20px;
}

  .slicknav_menu {
  display: block;
}

#wrapper{
width: 100vw;
}

  .home{
    width: auto;
    margin: 0px auto;
    border-radius: 0px;
    padding: 5px;

  }

  .right{

  text-align: left;
  }

  /*#contactForm{
    display: none;
  }*/

  /*#welcomeCenter {
    width: 60%;
  }

  #welcomeSection img {
    width: 118px;
  }

  .citation{
    display: none;
  }

  .author{
    display: none;
  }

  #welcomePage.relative {
    top: 77px;
    height: 41vh;
}

  .slicknav_menu {
    display:block;
  }

.right{
  right: 0vw;
  margin: 0 auto;
  width: auto;
}

.left{
  margin: 0 auto;
  left: 0vw;
  width: auto;
}

h1.paragraphNameLeft{

  position: relative;
  left: 0px;
  transform: rotate(0deg);
  width: 100%;
  font-size: 20px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 0px;
  background: rgba(20,55,113,0.8);
}

h1.paragraphNameRight{
  position: relative;
  right: 0px;
  transform: rotate(0deg);
  width: 100%;
  font-size: 20px;
  height: 50px;
  margin-bottom: 22px;
  border-radius: 0px;
  background: rgba(20,55,113,0.8);
}

.left p{
  padding-left: 0px;
}

.right p{
  padding-right: 0px;
}

#welcomePage{
    height: 800px;
    }*/
